.image-menu {
    position: absolute;
    left: 20em;
    height: 2.5em;
    display: flex;
    top:0.5em;
    margin: 0%;
}

.image-yellow{
    position: absolute;
    right:0;
    max-width: 63.03em;
    max-height: 68em;
    min-width: 30em;
    min-height:35em;


}

.menu {
    position: relative;
    width:120em;
    height: 5em;
    
 
}

.navegation-menu {
    position: absolute;
    width: 30em;
    height: 1em;
    left: 60em;
    top: 1em;
    display: flex;
    
}

.navegation-item {
    list-style:none;
    margin:auto;
    font-weight:400;
}

.navegation-item-link{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 0.5em;
    font-size: 1em;
    line-height: 1.8em;
    color: #202020;
    text-decoration: none;;
}
.navegation-item-link:hover{
    cursor: pointer;
    color: #185804;
}
